<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

	<head>
	<title>Boot Tasks</title>
	<meta http-equiv="Content Type" content="text/html; charset=UTF-8" />
	<link rel="stylesheet" type="text/css" href="../stylesheets/tasks.css"
		th:href="@{/css/tasks.css}" />
	</head>
	
	<body>
		<H1>Tasks</H1>
		<table>
			<tr>
				<th>Name</th>
				<th>Date Created</th>
				<th></th>
			</tr>
			<tr th:each="t : ${tasks}" class="task">
				<td><a th:text="${t.getName()}">NAME</a></td>
				<td><div th:text="${t.getTimestamps()}" id="date">DATE</div></td>
				<td id="btn"><button type="button">EDIT</button></td>
			</tr>
		</table>
	
	</body>

</html>